@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #25a244;  /* Verde claro */
    background: linear-gradient(72deg, #1e7d35, #6ede8a);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;  /* Branco */
    width: 100%;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra nos cantos */
    border-bottom: 2px solid black;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #25a244;  /* Verde escuro */
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

nav {
    flex-grow: 1;
    font-family: 'Poppins';
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #25a244;  /* Verde escuro */
    text-decoration: none;
}

.colombo-image {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100vh;  /* Altura da viewport */
    margin: 0px;
    margin-bottom: -75px;
    overflow: hidden;  /* Esconde o que excede a área da div */
}

.colombo-image img {
    width: 100%;
    height: 89vh;  /* Altura da viewport */
    object-fit: cover;  /* Faz a imagem cobrir todo o espaço */
}


.colombo-text {
    position: absolute;
    top: 45%;
    left: 44%;
    transform: translate(-100%, -50%);
    color: #ffffff;
    font-size: 3em;
    font-family: 'Poppins';
    align-items: center;
    text-shadow: 2px 2px 3px black; /* Adicionando sombra ao texto */
}

.colombo-subtext {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-75%, -50%);
    color: #ffffff;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-shadow: 2px 2px 3px black; /* Adicionando sombra ao texto */
}

.colombo-temperature {
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-75%, -50%);
    color: #ffffff;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-shadow: 2px 2px 3px black; /* Adicionando sombra ao texto */
}

main {
    margin: 0;  /* Remove a margem do main */
    background-color: #25a244;  /* Verde escuro */
    color: #6ede8a;  /* Verde claro */
    background: linear-gradient(72deg, #1e7d35, #6ede8a);
}

main h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #ffffff;  /* Branco */
}

section {
    margin-bottom: 30px;
    border-radius: 20px;
    max-width: 80%; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 30px;
    background: linear-gradient(72deg, #6ede8a, #2ec754);
    background-color: #6ede8a;  /* Verde claro */
    color: #25a244;  /* Verde escuro */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Sombra nas seções */
    border-bottom: 4px solid #1f9721; /* Linha divisória */
}

section h2 {
    font-size: 1.5em;
    font-weight: 600;
    color: #155724;  /* Verde escuro */
    margin-bottom: 15px;
}

section a {
    color: black;
}

section a:hover {
    color: rgb(0, 255, 0); /* Substitua #FF0000 pela cor que você deseja quando o mouse passa sobre o link */
}

.subbio-links {
    color: #000000;
    text-decoration: bold 2000px;
    font-size: 1.1em;
    line-height: 1.6;
    text-align: center;
}

footer {
    background-color: #f8f8f8;  /* Verde escuro */
    color: #6ede8a;  /* Verde claro */
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1 1 200px;  /* O último valor é a largura mínima. Ajuste conforme necessário. */
    margin: 10px;
    padding: 15px;
}

.footer-section h3 {
    margin-bottom: 15px;
    color: #009213;
}

.footer-section a {
    color: #6ede8a;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #25a244;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    display: none; /* inicialmente oculto */
}