@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #25a244;  /* Verde claro */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;  /* Branco */
    width: 100%;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra nos cantos */
    border-bottom: 2px solid black;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #25a244;  /* Verde escuro */
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

nav {
    flex-grow: 1;
    font-family: 'Poppins';
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #25a244;  /* Verde escuro */
    text-decoration: none;
}

main {
    margin: 0;  /* Remove a margem do main */
    background-color: #25a244;  /* Verde escuro */
    color: #6ede8a;  /* Verde claro */
}

main h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: black;  /* Branco */
}

footer {
    background-color: #f8f8f8;  /* Verde escuro */
    color: #6ede8a;  /* Verde claro */
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1 1 200px;  /* O último valor é a largura mínima. Ajuste conforme necessário. */
    margin: 10px;
    padding: 15px;
}

.footer-section h3 {
    margin-bottom: 15px;
    color: #009213;
}

.footer-section a {
    color: #6ede8a;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-section a:hover {
    text-decoration: underline;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .card {
    width: 300px;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .card img {
    width: 100%;
    height: 200px; /* Altura fixa das imagens */
    object-fit: cover; /* Redimensiona a imagem mantendo a proporção */
    border-radius: 8px;
  }
  .card h2 {
    margin-top: 10px;
  }
  .card p {
    color: #666;
  }
  .button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }
  .button:hover {
    background-color: #45a049;
  }